p {
  font-family: Montserrat;
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.text-description {
  font-size: 18px;
}

.text-underline {
  text-decoration: underline;
}