.add-to-cart-button {
  background-color: rgb(255, 238, 0);
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color, 0.15s;
}

.add-to-cart-button:hover {
  background-color: rgb(236, 215, 25);
}