.get-started-button {
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.get-started-button:hover {
  background-color: rgb(99, 68, 155);
}

.download-button {
  background-color: rgb(255, 255, 255);
  color:gray;
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 18px;
  padding-left: 18px;
  border-width: 1px;
  border-color: gray;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.download-button:hover {
  background-color: gray;;
  color: rgb(255, 255, 255);
}