.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.apply-button:hover {
  background-color: rgb(7, 90, 168);
}

.save-button {
  background-color: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s;
}

.save-button:hover {
  background-color: rgb(193, 214, 235);
  border-width: 2px;
}